#root, .app {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  font-family: helvetica, arial, sans-serif;

  a {
    text-decoration: none;
  }
}

.container {
  flex-grow: 1;
  padding: 12px;
}
