.header {
    padding: 15px;
    border-bottom: 1px solid #535353;

    ul {
        display: flex;
        justify-content: center;
        color: #535353;
        
        li {
            padding: 15px;
        }
    }
    
}