@import "settings.scss";
.header {
    padding: 15px;

    ul {
        display: flex;
        justify-content: center;
        color: $primary-color;
        border-bottom: 1px solid $primary-color;
        
        li {
            padding: $gutter;
        }
    }
    
}