.project {

    &__devider {
        margin-bottom: 5px;
    }
    &__card {
        margin-bottom: 30px;
        
        .card-title, .card-subtitle {
            margin-bottom: 0;
        }
        a {
            color: var(--themePrimary);
            box-shadow: inset 0 -0.475em 0 rgba(163,218,227,0.5);
            box-shadow: inset 0 -0.075em 0 var(--themeSecondary);
            
            transition: all 200ms 50ms ease-out;
            &:hover, &:focus {
                color: var(--themePrimary);
                background-color: rgba(163,218,227,0.5);
                background-color: var(--themeSecondary);
                box-shadow: inset 0 -0.475em 0 transparent;
            }
        }
        .card-text {
            height: 3em;
            overflow: hidden;
        }
    }
}